@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

:root {
  --color-background: #0B0B0F;
  --color-surface: #17181F;
  --color-primary: #E50914;
  --color-secondary: #FFB800;
  --color-accent: #4F9DFF;
  --color-text: #F5F5F5;
  --color-muted: #8B8E99;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Patrick Hand SC", cursive;
  font-weight: 400;
  font-style: normal;
}